# Node.js
node_modules/

# Express.js
.env

# Logs
logs/
*.log

# Build output
dist/

# Dependency lock files
package-lock.json
yarn.lock

# IDE files
.vscode/
.idea/

# Testing
coverage/

# Miscellaneous
.DS_Store
Thumbs.db

# prisma migrations
prisma/migrations/